.title {
  font-size: 20px;
  font-weight: bolder;
}

.coin_box {
  border: 3px solid #b1d6a8;
  border-radius: 20px;
  padding: 0px 10px;
  width: 90%;
  height: 105px;
  display: flex;
  justify-content: center;
}

.coin_title {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.coin_content {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.coin_btn {
  width: 80px;
  height: 35px;
  font-weight: bolder;
  font-size: 15px;
  color: #49663c;
}

.price_btn {
  color: #49663c;
  background-color: #b1d6a8;
  border-radius: 2ch;
  width: 120px;
  height: 40px;
  font-weight: bolder;
  font-size: 15px;

  &:hover {
    outline: none;
  }
}

.coin {
  width: 30px;
  height: 30px;
}
